In [1]:
import time
import pandas

from news_embedder.overhelm import ner_pool, sentiment_pool, embedding_pool
from news_embedder.configuration import Config

In [2]:
d = './data/data/rex.xlsx'
data = pandas.read_excel(d)
data = data.rename(columns={'title': 'Text'})[['id', 'Text']]
data

          id                                               Text
0     141465  Shares rally, bond yields rise as China fuels ...
1     141466  Argentine bond prices fall, country risk soars...
2     141467  Huawei under probe by U.S. prosecutors over ne...
3     141468  As U.S. Treasuries sizzle, some bond investors...
4     141469  China trade comments lift Wall Street as tech,...
...      ...                                                ...
9620  406845  U.S. unemployment rate hits 3.5%; job growth m...
9621  406846  Instant View: U.S. September payrolls lower th...
9622  406895  Hong Kong metro stays shut after night of viol...
9623  406995  UPDATE 3-PayPal becomes first member to exit F...
9624  407015  PayPal becomes first member to exit Facebook's...

[9625 rows x 2 columns]

In [3]:
config = Config()
config.model = {}


run_time = time.time()
n_char = data['Text'].apply(lambda x: len(x)).sum()
print('Size of the data being treated is:\n\tN of texts = {}\n\tTotal N of characters = {}'.format(data.shape[0], n_char))

# result_data = ner_pool(data, ['spacy'], config)
# result_data = sentiment_pool(data, ['textblob'], config)
result_data = embedding_pool(data, ['use'], config)


run_time = time.time() - run_time
print('Total run time = {0:.2f} seconds'.format(run_time))

result_data

Size of the data being treated is:
	N of texts = 9625
	Total N of characters = 662128
Total run time = 3.42 seconds

,id,Text,polarity,subjectivity
0,141465,"Shares rally, bond yields rise as China fuels ...",0.000000,0.000000
1,141466,"Argentine bond prices fall, country risk soars...",0.000000,0.000000
2,141467,Huawei under probe by U.S. prosecutors over ne...,0.136364,0.454545
3,141468,"As U.S. Treasuries sizzle, some bond investors...",0.000000,1.000000
4,141469,"China trade comments lift Wall Street as tech,...",0.000000,0.000000
...,...,...,...,...
9620,406845,U.S. unemployment rate hits 3.5%; job growth m...,0.000000,0.700000
9621,406846,Instant View: U.S. September payrolls lower th...,-0.050000,0.533333
9622,406895,Hong Kong metro stays shut after night of viol...,-0.800000,1.000000
9623,406995,UPDATE 3-PayPal becomes first member to exit F...,0.250000,0.333333
9624,407015,PayPal becomes first member to exit Facebook's...,0.250000,0.333333