In [83]:
import numpy
import pandas
from pandas.tseries.offsets import DateOffset

In [84]:
d = './lagger.xlsx'
data = pandas.read_excel(d)
data

    id0        id1      col0      col1      col2
0     0 2020-01-01  0.859607  0.693651  0.708395
1     0 2020-01-02  0.469961  0.618580  0.085949
2     0 2020-01-03  0.314479  0.110116  0.676641
3     1 2020-01-01  0.259603  0.931326  0.779048
4     1 2020-01-02  0.507188  0.773726  0.926435
5     2 2020-01-01  0.826624  0.732943  0.009882
6     2 2020-01-02  0.042995  0.251460  0.427211
7     2 2020-01-03  0.408130  0.503220  0.318059
8     2 2020-01-04  0.709347  0.715548  0.055861
9     2 2020-01-05  0.818280  0.703534  0.805932
10    2 2020-01-06  0.719822  0.392427  0.121327
11    3 2020-01-01  0.974523  0.796322  0.475477
12    3 2020-01-02  0.696232  0.350968  0.117466

In [85]:
data = data.set_index(keys=['id0', 'id1'])
data

                    col0      col1      col2
id0 id1
0   2020-01-01  0.859607  0.693651  0.708395
    2020-01-02  0.469961  0.618580  0.085949
    2020-01-03  0.314479  0.110116  0.676641
1   2020-01-01  0.259603  0.931326  0.779048
    2020-01-02  0.507188  0.773726  0.926435
2   2020-01-01  0.826624  0.732943  0.009882
    2020-01-02  0.042995  0.251460  0.427211
    2020-01-03  0.408130  0.503220  0.318059
    2020-01-04  0.709347  0.715548  0.055861
    2020-01-05  0.818280  0.703534  0.805932
    2020-01-06  0.719822  0.392427  0.121327
3   2020-01-01  0.974523  0.796322  0.475477
    2020-01-02  0.696232  0.350968  0.117466

In [113]:
def filler(frame, date_start, date_end, freq, tz):
    # # filler_frame = pandas.DataFrame(index=pandas.date_range(start=date_start, end=date_end, freq=freq, tz=tz))
    # filler_frame = pandas.DataFrame(index=pandas.date_range(start=date_start, end=date_end, freq=freq))
    # print(filler_frame)
    # # result = frame.merge(right=filler_frame, how='outer', left_index=True, right_index=True)
    result = pandas.DataFrame(index=pandas.date_range(start=date_start, end=date_end, freq=freq, tz=tz),
                              data=frame)
    return result

In [114]:
kek = data.loc[0, :].copy()

In [116]:
kek = data.loc[0, :].copy()
a = filler(frame=kek, date_start=kek.index.min() + DateOffset(days=-3), date_end=kek.index.max() + DateOffset(days=3), freq='D', tz=kek.index[0].tz)
a

                col0      col1      col2
2019-12-29       NaN       NaN       NaN
2019-12-30       NaN       NaN       NaN
2019-12-31       NaN       NaN       NaN
2020-01-01  0.859607  0.693651  0.708395
2020-01-02  0.469961  0.618580  0.085949
2020-01-03  0.314479  0.110116  0.676641
2020-01-04       NaN       NaN       NaN
2020-01-05       NaN       NaN       NaN
2020-01-06       NaN       NaN       NaN

In [31]:
kek.index[0].tz

In [127]:
def fill_all(frame, freq, zero_index_name, first_index_name):
    data = []
    for ix0 in frame.index.levels[0]:
        filled = filler(frame=frame.loc[ix0, :], date_start=frame.index.levels[1].min(), date_end=frame.index.levels[1].max(), freq=freq, tz=frame.index.levels[1][0].tz)
        filled = filled.reset_index()
        filled[zero_index_name] = ix0
        filled = filled.rename(columns={'index': first_index_name})
        data.append(filled)
    data = pandas.concat(data, axis=0)
    data = data.set_index(keys=[zero_index_name, first_index_name])
    return data

In [56]:
[data.loc[ix0, :].index.min() for ix0 in data.index.levels[0]]

[Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-01-01 00:00:00')]

In [57]:
data.index.levels[1][0].tz

In [128]:
fill_all(data, freq='D', zero_index_name='id0', first_index_name='id1')

                col0      col1      col2
2020-01-01  0.859607  0.693651  0.708395
2020-01-02  0.469961  0.618580  0.085949
2020-01-03  0.314479  0.110116  0.676641
2020-01-04       NaN       NaN       NaN
2020-01-05       NaN       NaN       NaN
2020-01-06       NaN       NaN       NaN
       index      col0      col1      col2
0 2020-01-01  0.859607  0.693651  0.708395
1 2020-01-02  0.469961  0.618580  0.085949
2 2020-01-03  0.314479  0.110116  0.676641
3 2020-01-04       NaN       NaN       NaN
4 2020-01-05       NaN       NaN       NaN
5 2020-01-06       NaN       NaN       NaN
                col0      col1      col2
2020-01-01  0.259603  0.931326  0.779048
2020-01-02  0.507188  0.773726  0.926435
2020-01-03       NaN       NaN       NaN
2020-01-04       NaN       NaN       NaN
2020-01-05       NaN       NaN       NaN
2020-01-06       NaN       NaN       NaN
       index      col0      col1      col2
0 2020-01-01  0.259603  0.931326  0.779048
1 2020-01-02  0.507188  0.773726  0.926435
2 2020-01-03       NaN       NaN       NaN
3 2020-01-04       NaN       NaN       NaN
4 2020-01-05       NaN       NaN       NaN
5 2020-01-06       NaN       NaN       NaN
                col0      col1      col2
2020-01-01  0.826624  0.732943  0.009882
2020-01-02  0.042995  0.251460  0.427211
2020-01-03  0.408130  0.503220  0.318059
2020-01-04  0.709347  0.715548  0.055861
2020-01-05  0.818280  0.703534  0.805932
2020-01-06  0.719822  0.392427  0.121327
       index      col0      col1      col2
0 2020-01-01  0.826624  0.732943  0.009882
1 2020-01-02  0.042995  0.251460  0.427211
2 2020-01-03  0.408130  0.503220  0.318059
3 2020-01-04  0.709347  0.715548  0.055861
4 2020-01-05  0.818280  0.703534  0.805932
5 2020-01-06  0.719822  0.392427  0.121327
                col0      col1      col2
2020-01-01  0.974523  0.796322  0.475477
2020-01-02  0.696232  0.350968  0.117466
2020-01-03       NaN       NaN       NaN
2020-01-04       NaN       NaN       NaN
2020-01-05       NaN       NaN       NaN
2020-01-06       NaN       NaN       NaN
       index      col0      col1      col2
0 2020-01-01  0.974523  0.796322  0.475477
1 2020-01-02  0.696232  0.350968  0.117466
2 2020-01-03       NaN       NaN       NaN
3 2020-01-04       NaN       NaN       NaN
4 2020-01-05       NaN       NaN       NaN
5 2020-01-06       NaN       NaN       NaN

                    col0      col1      col2
id0 id1
0   2020-01-01  0.859607  0.693651  0.708395
    2020-01-02  0.469961  0.618580  0.085949
    2020-01-03  0.314479  0.110116  0.676641
    2020-01-04       NaN       NaN       NaN
    2020-01-05       NaN       NaN       NaN
    2020-01-06       NaN       NaN       NaN
1   2020-01-01  0.259603  0.931326  0.779048
    2020-01-02  0.507188  0.773726  0.926435
    2020-01-03       NaN       NaN       NaN
    2020-01-04       NaN       NaN       NaN
    2020-01-05       NaN       NaN       NaN
    2020-01-06       NaN       NaN       NaN
2   2020-01-01  0.826624  0.732943  0.009882
    2020-01-02  0.042995  0.251460  0.427211
    2020-01-03  0.408130  0.503220  0.318059
    2020-01-04  0.709347  0.715548  0.055861
    2020-01-05  0.818280  0.703534  0.805932
    2020-01-06  0.719822  0.392427  0.121327
3   2020-01-01  0.974523  0.796322  0.475477
    2020-01-02  0.696232  0.350968  0.117466
    2020-01-03       NaN       NaN       NaN
    2020-01-04       NaN       NaN       NaN
    2020-01-05       NaN       NaN       NaN
    2020-01-06       NaN       NaN       NaN

In [66]:
pudge = data.loc[0, :].copy()

In [67]:
pudge.index.name = 'pudge'

In [68]:
pudge

                col0      col1      col2
pudge
2020-01-01  0.859607  0.693651  0.708395
2020-01-02  0.469961  0.618580  0.085949
2020-01-03  0.314479  0.110116  0.676641

In [126]:
ix = 0
freq = 'D'
frame = data.copy()
a = filler(frame=frame.loc[ix, :], date_start=frame.index.levels[1].min(), date_end=frame.index.levels[1].max(), freq=freq, tz=frame.index.levels[1][0].tz)
a.reset_index()

       index      col0      col1      col2
0 2020-01-01  0.859607  0.693651  0.708395
1 2020-01-02  0.469961  0.618580  0.085949
2 2020-01-03  0.314479  0.110116  0.676641
3 2020-01-04       NaN       NaN       NaN
4 2020-01-05       NaN       NaN       NaN
5 2020-01-06       NaN       NaN       NaN

In [92]:
frame.loc[3, :]

                col0      col1      col2
id1
2020-01-01  0.974523  0.796322  0.475477
2020-01-02  0.696232  0.350968  0.117466