In [21]:
import pandas
from datetime import datetime
import pandas_datareader.data as web
import pandas_datareader

In [2]:
# Part 1. Gain news

In [24]:
d = './data/rex.xlsx'
data = pandas.read_excel(d)
data

,id,title,time,source,category
0,141465,"Shares rally, bond yields rise as China fuels ...",2019-08-29 22:36:30.057,REU,BUS
1,141466,"Argentine bond prices fall, country risk soars...",2019-08-29 22:36:30.057,REU,BUS
2,141467,Huawei under probe by U.S. prosecutors over ne...,2019-08-29 22:36:30.057,REU,BUS
3,141468,"As U.S. Treasuries sizzle, some bond investors...",2019-08-29 22:36:30.057,REU,BUS
4,141469,"China trade comments lift Wall Street as tech,...",2019-08-29 22:36:30.057,REU,BUS
...,...,...,...,...,...
9620,406845,U.S. unemployment rate hits 3.5%; job growth m...,2019-10-05 06:04:32.200,REU,BUS
9621,406846,Instant View: U.S. September payrolls lower th...,2019-10-05 06:04:32.200,REU,BUS
9622,406895,Hong Kong metro stays shut after night of viol...,2019-10-05 06:12:19.239,REU,WRL
9623,406995,UPDATE 3-PayPal becomes first member to exit F...,2019-10-05 06:28:54.713,REU,CMP
9624,407015,PayPal becomes first member to exit Facebook's...,2019-10-05 06:28:58.138,REU,TEC

In [25]:
# Part 2. Gain quotes

In [48]:
k = 'C:/Users/MainUser/Desktop/AlphaVantage.txt'
crs = open(k, "r")
for columns in ( raw.strip().split() for raw in crs ): 
    api_key = columns[0]
api_key

'5EDZIQN359C119R6'

In [50]:
target_quote = "AAPL"

lmao_bottom_text = data['time'].min()
lmao_top_text = data['time'].max()

"""
f = web.get_quote_av(["AAPL", "TSLA"], api_key=api_key)
"""
"""
f = web.DataReader(target_quote, "av-intraday",
                   #start=lmao_bottom_text, end=lmao_top_text, 
                   start=datetime(2017, 2, 9), end=datetime(2017, 5, 24),
                   api_key=api_key)
"""
"""
f = pandas_datareader.av.time_series.AVTimeSeriesReader(symbols=target_quote, function='TIME_SERIES_INTRADAY', 
                                                        #start=lmao_bottom_text, end=lmao_top_text, 
                                                        #start='2019-08-29', end='2019-10-05',
                                                        start='2020-01-01', end='2020-01-10',
                                                        #retry_count=3, pause=0.1, session=None, chunksize=25, 
                                                        api_key=api_key)
"""


f = pandas_datareader.av.time_series.AVTimeSeriesReader(symbols=target_quote, function='TIME_SERIES_DAILY', 
                                                        start=lmao_bottom_text, end=lmao_top_text, 
                                                        #retry_count=3, pause=0.1, session=None, chunksize=25, 
                                                        api_key=api_key)


f.read()

               open    high       low    close    volume
2019-08-29  208.500  209.32  206.6550  209.010  21007652
2019-08-30  210.160  210.45  207.2000  208.740  21162561
2019-09-03  206.430  206.98  204.2200  205.700  20059574
2019-09-04  208.390  209.48  207.3200  209.190  19216820
2019-09-05  212.000  213.97  211.5100  213.280  23946984
2019-09-06  214.050  214.42  212.5100  213.260  19362294
2019-09-09  214.840  216.44  211.0700  214.170  27309401
2019-09-10  213.860  216.78  211.7100  216.700  31777931
2019-09-11  218.070  223.71  217.7300  223.590  44289646
2019-09-12  224.800  226.42  222.8600  223.085  32226669
2019-09-13  220.000  220.79  217.0200  218.750  39763296
2019-09-16  217.730  220.13  217.5600  219.900  21158141
2019-09-17  219.960  220.82  219.1200  220.700  18386468
2019-09-18  221.060  222.85  219.4400  222.770  25643093
2019-09-19  222.010  223.76  220.3700  220.960  22187876
2019-09-20  221.380  222.56  217.4730  217.730  57977094
2019-09-23  218.950  219.84  217.6500  218.720  19419648
2019-09-24  221.055  222.49  217.1900  217.680  31434367
2019-09-25  218.550  221.50  217.1402  221.030  22481006
2019-09-26  220.000  220.94  218.8300  219.890  19088312
2019-09-27  220.540  220.96  217.2814  218.820  25361285
2019-09-30  220.900  224.58  220.7900  223.970  26318583
2019-10-01  225.070  228.22  224.2000  224.590  36187163
2019-10-02  223.060  223.58  217.9300  218.960  35767257
2019-10-03  218.430  220.96  215.1320  220.820  30352686
2019-10-04  225.640  227.49  223.8900  227.010  34755553

In [33]:
lmao_bottom_text

Timestamp('2019-08-29 22:36:30.057000')

In [18]:
lmao_top_text

Timestamp('2019-10-05 06:28:58.138000')

ValueError: DataFrame constructor not properly called!