In [1]:
import pytz
import datetime
import numpy
import pandas

In [2]:
start = datetime.datetime(year=2020, month=1, day=1, hour=0, minute=0, second=0, microsecond=0, tzinfo=pytz.timezone('EST'))
end = datetime.datetime(year=2020, month=5, day=1, hour=0, minute=0, second=0, microsecond=0, tzinfo=pytz.timezone('EST'))
test_range = pandas.DataFrame(data=pandas.date_range(start=start, end=end, freq='D'), columns=['base'])
test_range

                         base
0   2020-01-01 00:00:00-05:00
1   2020-01-02 00:00:00-05:00
2   2020-01-03 00:00:00-05:00
3   2020-01-04 00:00:00-05:00
4   2020-01-05 00:00:00-05:00
..                        ...
117 2020-04-27 00:00:00-05:00
118 2020-04-28 00:00:00-05:00
119 2020-04-29 00:00:00-05:00
120 2020-04-30 00:00:00-05:00
121 2020-05-01 00:00:00-05:00

[122 rows x 1 columns]

In [3]:
from busy_exchange.utils import BusyDayExchange

In [4]:
test_range['is_holi'] = test_range['base'].apply(func=BusyDayExchange.is_holi)
test_range['is_full'] = test_range['base'].apply(func=BusyDayExchange.is_full)
test_range['is_cut'] = test_range['base'].apply(func=BusyDayExchange.is_cut)
test_range

                         base is_holi is_full is_cut
0   2020-01-01 00:00:00-05:00    True   False  False
1   2020-01-02 00:00:00-05:00   False    True  False
2   2020-01-03 00:00:00-05:00   False    True  False
3   2020-01-04 00:00:00-05:00   False    True  False
4   2020-01-05 00:00:00-05:00   False    True  False
..                        ...     ...     ...    ...
117 2020-04-27 00:00:00-05:00   False    True  False
118 2020-04-28 00:00:00-05:00   False    True  False
119 2020-04-29 00:00:00-05:00   False    True  False
120 2020-04-30 00:00:00-05:00   False    True  False
121 2020-05-01 00:00:00-05:00   False    True  False

[122 rows x 4 columns]

In [5]:
test_range['to_holi'] = test_range['base'].apply(func=BusyDayExchange.to_holiday, args=(True,))
test_range['to_full'] = test_range['base'].apply(func=BusyDayExchange.to_fullday, args=(True,))
test_range['to_cut'] = test_range['base'].apply(func=BusyDayExchange.to_cutday, args=(True,))
test_range['af_holi'] = test_range['base'].apply(func=BusyDayExchange.to_holiday, args=(False,))
test_range['af_full'] = test_range['base'].apply(func=BusyDayExchange.to_fullday, args=(False,))
test_range['af_cut'] = test_range['base'].apply(func=BusyDayExchange.to_cutday, args=(False,))
test_range

,base,is_holi,is_full,is_cut,to_holi,to_full,to_cut,af_holi,af_full,af_cut
0,2020-01-01 00:00:00-05:00,True,False,False,19,1,331,-7,-1,-8
1,2020-01-02 00:00:00-05:00,False,True,False,18,1,330,-1,-2,-9
2,2020-01-03 00:00:00-05:00,False,True,False,17,1,329,-2,-1,-10
3,2020-01-04 00:00:00-05:00,False,True,False,16,1,328,-3,-1,-11
4,2020-01-05 00:00:00-05:00,False,True,False,15,1,327,-4,-1,-12
...,...,...,...,...,...,...,...,...,...,...
117,2020-04-27 00:00:00-05:00,False,True,False,28,1,214,-17,-1,-125
118,2020-04-28 00:00:00-05:00,False,True,False,27,1,213,-18,-1,-126
119,2020-04-29 00:00:00-05:00,False,True,False,26,1,212,-19,-1,-127
120,2020-04-30 00:00:00-05:00,False,True,False,25,1,211,-20,-1,-128
121,2020-05-01 00:00:00-05:00,False,True,False,24,1,210,-21,-1,-129

In [6]:
from busy_exchange.utils import BusyTimeExchange

In [7]:
test_range['to_open'] = test_range['base'].apply(func=BusyTimeExchange.to_open)
test_range['to_close'] = test_range['base'].apply(func=BusyTimeExchange.to_close)
test_range

,base,is_holi,is_full,is_cut,to_holi,to_full,to_cut,af_holi,af_full,af_cut,to_open,to_close
0,2020-01-01 00:00:00-05:00,True,False,False,19,1,331,-7,-1,-8,<NA>,<NA>
1,2020-01-02 00:00:00-05:00,False,True,False,18,1,330,-1,-2,-9,-52200,-28800
2,2020-01-03 00:00:00-05:00,False,True,False,17,1,329,-2,-1,-10,-138600,-115200
3,2020-01-04 00:00:00-05:00,False,True,False,16,1,328,-3,-1,-11,-225000,-201600
4,2020-01-05 00:00:00-05:00,False,True,False,15,1,327,-4,-1,-12,-311400,-288000
...,...,...,...,...,...,...,...,...,...,...,...,...
117,2020-04-27 00:00:00-05:00,False,True,False,28,1,214,-17,-1,-125,-1.953e+06,-1.9296e+06
118,2020-04-28 00:00:00-05:00,False,True,False,27,1,213,-18,-1,-126,-2.0394e+06,-2.016e+06
119,2020-04-29 00:00:00-05:00,False,True,False,26,1,212,-19,-1,-127,-2.1258e+06,-2.1024e+06
120,2020-04-30 00:00:00-05:00,False,True,False,25,1,211,-20,-1,-128,-2.2122e+06,-2.1888e+06
121,2020-05-01 00:00:00-05:00,False,True,False,24,1,210,-21,-1,-129,379800,403200